.atendimento {
  color:#464644;
  font-size:  20px;
}
.select{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 95%;
 max-width: 350px;
 height: auto;
 background-color:#FDFEF1;
 margin: 0 auto;
 border-radius: 20px;
 border: #959A24 solid 2px;
 padding: 20px;
}
.selects {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  text-align: center;
  border-radius: 20px ;
  border: #959A24 solid 2px;
  background-color: #F4ECDF; 
  color:#959A24;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
h4 {   
  margin-top: 30px;
  color:#959A24 ;
  font-family: Arial, Helvetica, sans-serif; 
  margin-bottom: -10px;  
}
textarea {
  width: 100%;
  max-width: 400px;
  height: 80px;
  margin-top: 20px;
  text-align: center; 
  color: #464644;
  font-size: 15px;
  border-radius: 20px;
  border: #959A24 solid 2px;
  background-color: #F4ECDF;
  font-family: Arial, Helvetica, sans-serif;
}
 .botao-finalizar{
  margin:20px auto;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color:#959A24;
  border: #F3FF01 solid 2px;
  color:white;
  display: block;
  cursor: pointer;
}
p {
  color:#464644;
  margin-left: 80px; 
}
.map-container {
  height: 120px;
  width: 300px;
  margin-left: 15px;
  margin-top: 5px;
  padding: 20px;
}

@media (min-width: 1024px) {
  p {
    margin-left: 500px;
    
  }
  .select {
    max-width: 600px; /* Aumente a largura máxima para telas maiores, se necessário */
  }
  .botao-finalizar {
    margin-left: 550px; /* Remova a margem esquerda para centralizar o botão em telas maiores */
  }
}